body {
    margin: auto;
    max-width: 600px;
    width: 95%;
    background-color: #1a1a1a;
}



nav ul {
    font-family:'Lora', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;  
    text-align: right
}
nav ul li {
    margin-right: 20px;
    display: inline;
}


a {
    text-decoration: none;
    color: skyblue;
}
a:hover {
    text-decoration: none;
    color: skyblue;
}
h1 {
    font-size: 3em;
    font-family:'Nothing You Could Do', 'Arial', 'Sans-Serif';
    color: #ffffff;
    
}
h2 {
    text-decoration: none;
    font-size: 1.5em;
    font-family:'Lora', 'Arial', 'Sans-Serif';
    color: #ffffff;
}
p {
    font-size: 1em;
    font-family:'Lora', 'Arial', 'Sans-Serif';
    line-height: 2em;
    color: #ffffff;
}
ol {
    font-size: 1em;
    font-family:'Lora', 'Arial', 'Sans-Serif';
    line-height: 2em;
    color: #ffffff;
}
ul {
    font-size: 1em;
    font-family:'Lora', 'Arial', 'Sans-Serif';
    line-height: 2em;
    color: #ffffff;
    list-style: none;
}

details {
    font-size: 1em;
    font-family:'Lora', 'Arial', 'Sans-Serif';
    line-height: 2em;
    color: #ffffff;
}

details summary {
    font-size: 1em;
    font-family:'Lora', 'Arial', 'Sans-Serif';
    line-height: 2em;
    color: skyblue;
;
}
