body {
    background-color: #1c1c1c;
    max-width: 600px;
    margin: auto;
    font-family: "Source Code Pro";
    font-size:1em;
    padding-bottom: 15em;
}

nav ul {
    list-style: none;
    font-weight: bold;  
    text-align: right;
}

nav ul li {
    margin-left: 20px;
    display: inline;
}

a {
    text-decoration: none;
    color: #5177bd;
}

a:hover {
    text-decoration: underline;
    color: #638ad6; 
}


h1 {
    font-family: "Press Start 2P";
    font-size:2.5em;
    color: #b5b5b5;
    font-weight: bold;
    border-bottom: 4px solid #b5b5b5;
    margin-bottom: .7em;
    margin-top: 1em;   
}

h2 {
    margin-top: 2.5em;
    font-size:1.6em;
    margin-bottom: .5em;
    font-weight: bold;
    color: #b5b5b5;  
}

p {
    line-height: 2em;
    color: #b5b5b5;
}

ul {
    line-height: 2em;
    list-style-type: none;
    padding-left: 0em;
    color: #b5b5b5;
}

.accordion {
    background-color: #1c1c1c;
    color: #5177bd;
    cursor: pointer;
    padding: .5em;
    padding-left: 0em;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    font-family: "Source Code Pro";
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #1c1c1c;
}

.panel {
    background-color: #262626;
    padding: 0 2em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-family: "Source Code Pro";
    font-size: 1em;
}

img {
  width: 100%;
    max-width: 650px;
  height: auto;
}



    