

ul {
    line-height: 2em;
    list-style-type: none;
    padding-left: 0em;
}



body {
    margin: 0;
    margin-top: 2.5em;
    background-color: #0d0d0d;
    font-family: "Source Code Pro";
}

nav ul {
    list-style: none;
    font-weight: bold;  
    text-align: right;
}

nav ul li {
    margin-left: 20px;
    display: inline;
}

a {
    color: #29a329;
}

a:hover {
    text-decoration: none;
    text-decoration: underline;
    color: #33cc33;
    
    
}


h1 {
    font-size:2em;
    color: darkgrey;
    font-weight: bold;
    border-bottom: 5px solid darkgrey;
    margin-bottom: .7em;
    margin-top: 2.5em;
    
    
}

h2 {
    margin-top: 2em;
    font-size:1.7em;
    margin-bottom: .5em;
    font-weight: bold;
    color: darkgrey;
    
}

p {
    text-align: justify;
    color: darkgrey;
}

ul {
    line-height: 2em;
    list-style-type: none;
    padding-left: 0em;
    color: darkgrey;
}

    

.navbar-custom {
    background-color: #1a1a1a !important;
/*    border-bottom: 5px solid darkgrey;*/
}


.navbar-custom {
    margin: 0;
    
}

.navbar-custom .navbar-brand {
    font-size:2.2em;
   /* color: #8ca7ff; */
    color: darkgrey;
      font-weight: bold;
}