body {
    background-color: #0d0d0d;
    max-width: 600px;
    margin: auto;
    font-family: "Source Code Pro";
    font-size:1em;
    padding: 1em;
    padding-bottom: 5em;
}

nav ul {
    list-style: none;
    font-weight: bold;  
    text-align: right;
}

nav ul li {
    margin-left: 20px;
    display: inline;
}

a {
    text-decoration: none;
    color: #5177bd;
}

a:hover {
    text-decoration: underline;
    color: #638ad6; 
}

h1 {
    font-family: "Press Start 2P";
    font-size:2.5em;
    color: #b5b5b5;
    font-weight: bold;
    border-bottom: 4px solid #b5b5b5;
    margin-bottom: .7em;
    margin-top: 1em;   
}

h2 {
    margin-top: 1.5em;
    font-size:1.6em;
    font-weight: bold;
    color: #b5b5b5;  
}

p {
    line-height: 1.6em;
    color: #b5b5b5;
}

ul {
    list-style-type: none;
    padding-left: 0em;
    color: #b5b5b5;
}

li {
    margin: 1em 0;
}

img {
  width: 100%;
    max-width: 650px;
  height: auto;
}



    