{% extends "_base.html.j2" %}
{% block content %}
<section class="blog-index" aria-labelledby="blog-heading">
    <h1 id="blog-heading">Blog</h1>

    {% if posts %}
    <ul class="post-list">
        {% for p in posts %}
        <li>
            <a class="post-link" href="{{ root }}blog/{{ p.slug }}/">{{ p.title }}</a>
            <time class="post-date" datetime="{{ p.date.isoformat() }}">{{ p.date.strftime("%Y-%m-%d") }}</time>
            {% if p.description %}<p class="post-blurb">{{ p.description }}</p>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No posts yet.</p>
    {% endif %}
</section>
{% endblock %}
